# Entorno virtual
whisper-env/
ffmpeg/*
transcriptions_test
.env
audio_o*
audio_input/*
venv/

# Archivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Configs locales
*.vscode/
*.idea/
.DS_Store

# Otros
*.log
